<!DOCTYPE html>
<html>
<head>
	<title>Title1</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
</head>
<body>
    {% for container_ip in containerMap %}
        {% for docker in containerMap %}
            <div class="card-header"> ONAP -- {{ container_ip }} </div>
            <div class="flex-container">
                 <div>
                    {% if color == False %}
                        <div class="card">
                                <div class="card-header">DockerName: {{docker}}</div>
                                    <div class="card-main">
                                        <div class="material-icons">IpAddress: {{ docker.docker_info.ip }}</div>
                                         <div class="material-icons">Status {{ docker.docker_info.status }}</div>
                                    </div>
                        </div>
                     {% else %}
                        <div class="card1">
                            <div class="card-header1"> {{ docker.dname }}</div>
                            <div class="card-main1">
                                <div class="material-icons1">IpAddress : {{ docker.docker_info.ip }}</div>
                                <div class="material-icons1">Status :{{ docker.docker_info.status }}</div>
                            </div>
                        </div>
                    {% endif %}
                 </div>
            </div>
        {% endfor %}
    {% endfor %}

</body>
</html>