body{
  font-family: 'Open Sans', sans-serif;
}

.table{
  color: #D32F2F;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #EF9A9A;
  background-color: #FFEBEE;
  padding: 5px 10px;
}

.card {
  width: 200px;                 /* Set width of cards */
  border: 1px solid #000000;    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: fragments;             /* Fixes the corners */
  display: flex;                /* Children use Flexbox */
  flex-direction: column;       /* Rotate Axis */
}

.card-header {
  color: #db150a;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #efbb20;
  background-color: #000000;
  padding: 5px 10px;
}

.card-main {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (+axis) */
  padding: 15px 0;            /* Add padding to the top/bottom */
}

.material-icons {
  font-size: 20px;
  color: #D32F2F;
  margin-bottom: 5px;
}

.main-description {
  color: #D32F2F;
  font-size: 30px;
  text-align: center;
}



.flex-container {
  display: flex;
  background-color: #11557C;
  color: #FFFFFF;
}

.flex-container > div {
  display: flex;
  background-color: #000000;
  margin: 10px;
  font-size: 10px;
}


.card1 {
  width: 200px;                 /* Set width of cards */
  border: 1px solid #000000;    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: fragments;             /* Fixes the corners */
  display: flex;                /* Children use Flexbox */
  flex-direction: column;       /* Rotate Axis */
}

.card-header1 {
  color: #3A7734;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #efbb20;
  background-color: #000000;
  padding: 5px 10px;
}

.card-main1 {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (+axis) */
  padding: 15px 0;            /* Add padding to the top/bottom */
}

.material-icons1 {
  font-size: 20px;
  color: #3A7734;
  margin-bottom: 5px;
}

.main-description1 {
  color: #3A7734;
  font-size: 30px;
  text-align: center;
}